<div class="my-0 pt-2">
  <div class="block">
    <div class="w-full overflow-hidden border-t">
      <div
        class="inline-flex w-full justify-between lg:justify-start items-center"
      >
        <label
          id="tab-multi-two"
          class="
            font-bold
            w-full
            uppercase
            block
            p-5
            leading-normal
            cursor-pointer
          "
          >Storm Surge</label
        >
        <div class="cursor-pointer right-0" for="tab-multi-two">
          <button
            class="
              w-8
              h-8
              float-right
              bg-gray-100
              focus:outline-none
              flex
              items-center
              justify-center
              rounded-full
            "
          >
            <svg
              (click)="openMenu(1)"
              [ngClass]="isOpenedList === 1 ? ' hidden ' : ' '"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              (click)="closeMenu()"
              [ngClass]="isOpenedList === 1 ? ' ' : ' hidden '"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
      <div
        [ngClass]="isOpenedList === 1 ? ' hidden ' : ' '"
        class="max-h-screen overflow-hidden bg-gray-100 leading-normal"
      >
        <div class="my-2 text-xs uppercase px-8">
          <div
            class="font-bold text-gray-800 text-xs mb-1 title-font uppercase"
          >
            Storm Surge Advisory
          </div>
          <div class="flex flex-col">
            <span class="inline-flex items-center mt-1">
              <input
                id="storm-surge-advisory-1"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'storm-surge-advisory-1' ===
                  (currentStormSurgeAdvisory$ | async)
                "
                (click)="viewStormSurgeAdvisory('storm-surge-advisory-1')"
              />
              <label for="storm-surge-advisory-1" class="ml-2 text-gray-700"
                >SSA #1</label
              >
            </span>
            <span class="inline-flex items-center mt-1">
              <input
                id="storm-surge-advisory-2"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'storm-surge-advisory-2' ===
                  (currentStormSurgeAdvisory$ | async)
                "
                (click)="viewStormSurgeAdvisory('storm-surge-advisory-2')"
              />
              <label for="storm-surge-advisory-2" class="ml-2 text-gray-700"
                >SSA #2</label
              >
            </span>
            <span class="inline-flex items-center mt-1">
              <input
                id="storm-surge-advisory-3"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'storm-surge-advisory-3' ===
                  (currentStormSurgeAdvisory$ | async)
                "
                (click)="viewStormSurgeAdvisory('storm-surge-advisory-3')"
              />
              <label for="storm-surge-advisory-3" class="ml-2 text-gray-700"
                >SSA #3</label
              >
            </span>
            <span class="inline-flex items-center mt-1">
              <input
                id="storm-surge-advisory-4"
                type="radio"
                class="h-4 w-4 text-red-600"
                [checked]="
                  'storm-surge-advisory-4' ===
                  (currentStormSurgeAdvisory$ | async)
                "
                (click)="viewStormSurgeAdvisory('storm-surge-advisory-4')"
              />
              <label for="storm-surge-advisory-4" class="ml-2 text-gray-700"
                >SSA #4</label
              >
            </span>
          </div>
          <div class="mt-2 text-xs uppercase">
            <span class="font-bold text-gray-800 text-xs mb-1 title-font"
              >Legend</span
            >
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-high"></div>
                <span class="ml-2">High</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-medium"></div>
                <span class="ml-2">Medium</span>
              </label>
            </div>
            <div>
              <label class="inline-flex items-center">
                <div class="box-border h-4 w-4 p-2 border-1 bg-low"></div>
                <span class="ml-2">Low</span>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
