<div>
  <h2 class="text-gray-900 text-lg mb-1 font-medium title-font uppercase">
    Your location
  </h2>
  <div class="font-bold text-3xl pb-4">{{ currentLocation$ | async }}</div>
  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Flood Hazard Level
  </h4>
  <div
    class="font-bold text-xl leading-tight mt-4 uppercase"
    [ngClass]="'text-' + (riskLevel$ | async)"
  >
    {{ riskLevel$ | async }}
  </div>

  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Flood Safety Tips
  </h4>
  <div class="text-sm mb-10">
    <p class="pb-2 mt-4">Before:</p>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Stay informed on local news.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Prepare an emergency bag with food, drugs, documents, flashlights, pet
        items.
      </p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Know how to evacuate and safe alternative routes.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Leave before flooding starts.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        In flood prone areas, keep useful items at home (sandbags, ladder, rope,
        etc).
      </p>
    </li>

    <p class="pb-2 mt-4">During:</p>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Disconnect electricity and gas.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Don't walk or driver in flood water.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Get to a higher ground.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Follow evacuation orders.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Free cattle and lead animals to a safer place.</p>
    </li>

    <p class="pb-2 mt-4">After:</p>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Avoid contact with Flood water and swimming.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Don't touch power lines.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Don't go home to disaster areas until it is declared safe.
      </p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Communicate with your family that you are safe.</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        When back home, clean and disinfect surfaces and items.
      </p>
    </li>
  </div>

  <noah-pra-nav
    [currentPageIdx]="1"
    [pageLength]="5"
    nextRoute="../landslide"
    prevRoute="../base"
  ></noah-pra-nav>
</div>
