<div class="my-0 py-2">
  <div class="block">
    <div class="inline-flex inline-text py-0 pb-0">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-5 w-5 mr-3"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
        />
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
        />
      </svg>
      <p class="font-bold text-s uppercase">Critical Facilities</p>
    </div>
    <div class="mt-2 text-xs uppercase px-8">
      <div class="flex flex-col">
        <label class="inline-flex items-center mt-1">
          <input
            type="checkbox"
            class="form-checkbox h-4 w-4 text-red-600"
            checked
          /><span class="ml-2 text-gray-700">Hospital</span>
        </label>
        <label class="inline-flex items-center mt-1">
          <input
            type="checkbox"
            class="form-checkbox h-4 w-4 text-red-600"
          /><span class="ml-2 text-gray-700">School</span>
        </label>
        <label class="inline-flex items-center mt-1">
          <input
            type="checkbox"
            class="form-checkbox h-4 w-4 text-red-600"
          /><span class="ml-2 text-gray-700">Fire Station</span>
        </label>
        <label class="inline-flex items-center mt-1">
          <input
            type="checkbox"
            class="form-checkbox h-4 w-4 text-red-600"
          /><span class="ml-2 text-gray-700">Police Station</span>
        </label>
      </div>
    </div>
  </div>
</div>
