<div class="my-0 pt-2">
  <div class="block">
    <div class="w-full overflow-hidden border-t">
      <div
        class="inline-flex w-full justify-between lg:justify-start items-center"
      >
        <label
          id="tab-multi-four"
          class="
            font-bold
            w-full
            uppercase
            block
            p-5
            leading-normal
            cursor-pointer
          "
          >Critical Facilities</label
        >
        <div class="cursor-pointer right-0" for="tab-multi-four">
          <button
            class="
              w-8
              h-8
              float-right
              bg-gray-100
              focus:outline-none
              flex
              items-center
              justify-center
              rounded-full
            "
          >
            <svg
              (click)="openMenu(1)"
              [ngClass]="isOpenedList === 1 ? ' hidden ' : ' '"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"
              />
            </svg>
            <svg
              (click)="closeMenu()"
              [ngClass]="isOpenedList === 1 ? ' ' : ' hidden '"
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd"
              />
            </svg>
          </button>
        </div>
      </div>
      <div
        [ngClass]="isOpenedList === 1 ? ' hidden ' : ' '"
        class="max-h-screen overflow-hidden bg-gray-100 leading-normal"
      >
        <div class="my-2 text-xs uppercase px-8">
          <div class="flex flex-col">
            <label class="inline-flex items-center mt-1">
              <span class="w-1/6">
                <img
                  class="h-6 w-6"
                  src="assets/map-sprites/hospital.png"
                /> </span
              ><span class="ml-2 text-gray-700">Hospital</span>
            </label>
            <label class="inline-flex items-center mt-1">
              <span class="w-1/6">
                <img
                  class="h-6 w-6"
                  src="assets/map-sprites/school.png"
                /> </span
              ><span class="ml-2 text-gray-700">School</span>
            </label>
            <label class="inline-flex items-center mt-1">
              <span class="w-1/6">
                <img
                  class="h-6 w-6"
                  src="assets/map-sprites/fire-station.png"
                /> </span
              ><span class="ml-2 text-gray-700">Fire Station</span>
            </label>
            <label class="inline-flex items-center mt-1">
              <span class="w-1/6">
                <img
                  class="h-6 w-6"
                  src="assets/map-sprites/police-station.png"
                /> </span
              ><span class="ml-2 text-gray-700">Police Station</span>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
