<h4 class="text-l font-bold leading-tight mt-8 uppercase">
  Critical Facilities
</h4>

<button
  class="text-left shadow flex rounded w-full p-3 my-3"
  *ngFor="let facility of criticalFacilities"
  (click)="focus(facility)"
>
  <span class="w-1/6">
    <img class="h-8 w-8" src="assets/map-sprites/{{ facility.type }}.png" />
  </span>
  <span class="w-5/6 pl-3">
    <div class="text-sm">{{ facility.name }}</div>
    <small class="text-gray-500" *ngIf="facility.distance">
      {{ facility.distance | number: '1.1-2' }} km away</small
    >
  </span>
</button>
