<button
  class="
    w-full
    flex
    p-2
    bg-white
    shadow-md
    hover:shodow-lg
    rounded-md
    hover:bg-gray-100
    items-center
    justify-between
  "
>
  <div class="flex items-center">
    <img class="h-auto w-14" src="assets/images/flood.svg" alt="flood" />
    <div class="flex flex-col text-left ml-3">
      <div class="font-bold leading-none">Flood Hazard Level</div>
      <div class="uppercase font-bold text-xl leading-none mt-2">MEOW</div>
    </div>
  </div>
  <img class="w-4" src="assets/icons/right-chevron.svg" />
</button>
