<div class="flex flex-col justify-between w-full">
  <div>
    <div class="flex w-full items-center justify-between">
      <button id="cross" class="text-gray-800" routerLink="../">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M10 19l-7-7m0 0l7-7m-7 7h18"
          />
        </svg>
      </button>
      <div class="h-16 w-full pl-2 flex items-center">
        <h4 class="text-2xl font-bold leading-tight mt-4 pb-4">
          Know Your Hazard: Landslides
        </h4>
      </div>
    </div>
    <div class="text-gray-800 py-4 mx-8 items-center">
      <p class="text-black-700">
        A <b>landslide</b> is a movement of earth, rock, or debris due to
        gravity. Landslides can be caused by continuous heavy rainfall, strong
        earthquakes, or human activities.
      </p>
    </div>
    <div class="items-start mx-8">
      <h4 class="text-xl font-bold leading-tight my-2 pt-2">
        How To Prepare For Landslides
      </h4>
      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="flex-1">
          <p class="text-black my-2">
            <!-- Your landslide hazard level is
            <span [ngClass]="'text-' + (landslideRiskLevel$ | async)">{{
              landslideRiskLevel$ | async
            }}</span
            >.  -->
            Evacuate immediately when there’s an alert for heavy rainfall or as
            advised by your local authorities.
          </p>
        </div>
        <div class="ml-2 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-evacuate.svg"
            alt="landslide"
          />
        </div>
      </div>

      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="mr-2 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-exit.svg"
            alt="landslide"
          />
        </div>
        <div class="flex-1">
          <p class="text-black my-2">
            Always have a survival kit ready and accessible. Ideally this is
            near your exit doors, ready for grabbing when in a rush.
          </p>
        </div>
      </div>

      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="flex-1">
          <p class="text-black my-2">
            Listen for emergency information and alerts
          </p>
        </div>
        <div class="ml-0 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-listen.svg"
            alt="landslide"
          />
        </div>
      </div>
    </div>
    <div class="items-start mx-8">
      <h4 class="text-xl font-bold leading-tight my-2 pt-2">
        Surviving A Landslide
      </h4>
      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="mr-2 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-noise.svg"
            alt="landslide"
          />
        </div>
        <div class="flex-1">
          <p class="text-black my-2">
            If caught in landslide debris, continue to move and make noise to
            alert rescuers.
          </p>
        </div>
      </div>
      <h4 class="text-xl font-bold leading-tight my-2 pt-2">
        After A Landslide
      </h4>
      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="mr-2 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-safe.svg"
            alt="landslide"
          />
        </div>
        <div class="flex-1">
          <p class="text-black my-2">
            Listen to authorities to find out if it is safe to return
          </p>
        </div>
      </div>
      <div class="py-2 max-w-xl w-full flex flex-row">
        <div class="flex-1">
          <p class="text-black my-2">
            Stay away from damaged power lines and report them immediately.
          </p>
        </div>
        <div class="ml-0 md:mt-0 items-center flex">
          <img
            class="h-14 w-auto"
            src="assets/images/landslide/landslide-power.svg"
            alt="landslide"
          />
        </div>
      </div>
    </div>
    <div class="items-start mx-8">
      <noah-survival-kit></noah-survival-kit>
    </div>
  </div>
</div>
