<div
  class="
    flex flex-col
    p-5
    w-full
    bg-sidebar
    shadow-md
    hover:shodow-lg
    rounded-2xl
    mt-6
  "
>
  <div class="flex items-center justify-between">
    <div class="flex items-center">
      <label class="inline-flex items-center checkbox">
        <input
          type="checkbox"
          class="checkbox h-5 w-5 text-blue-600"
          [checked]="shown"
          (click)="toggleShown()"
        />
      </label>
      <div class="flex flex-col ml-3">
        <div class="text-xl leading-none font-bold">Critical Facilities</div>
      </div>
    </div>
    <div class="cursor-pointer">
      <button
        class="
          w-6
          h-6
          focus:outline-none
          flex
          items-center
          justify-center
          rounded-full
        "
      >
        <svg
          (click)="toggleExpanded()"
          [ngClass]="expanded ? ' hidden ' : ' '"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1000 1000"
          width="18"
          height="12"
        >
          <path
            d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
          />
        </svg>
        <svg
          (click)="toggleExpanded()"
          [ngClass]="expanded ? ' ' : ' hidden '"
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 18 12"
          fill="none"
        >
          <path
            d="M9.00002 4.73399L2.40001 11.334L0.514683 9.44865L9.00002 0.963319L17.4854 9.44865L15.6 11.334L9.00002 4.73399Z"
            fill="#4A5568"
          ></path>
        </svg>
      </button>
    </div>
  </div>
  <div [ngClass]="expanded ? ' pt-5 ' : ' hidden '">
    <hr class="pb-4" />
    <div class="pl-6">
      <div class="items-center">
        <!-- CRITICAL FACILITY START -->
        <noah-facility
          *ngFor="let facility of facilityList"
          [name]="facility"
        ></noah-facility>
        <!-- CRITICAL FACILITY END -->
        <hr class="p-2" />
      </div>
    </div>
  </div>
</div>
