<div class="text-m f-f-r py-2 pl-4">
  <div class="flex items-center">
    <label class="inline-flex items-center checkbox">
      <input
        [checked]="shown"
        (click)="toggleShown()"
        type="checkbox"
        class="checkbox h-5 w-5 text-blue-600"
      />
    </label>
    <div class="flex flex-col ml-3">
      <div class="text-lg f-f-r">{{ name }}</div>
    </div>
  </div>

  <div class="pt-4">
    <noah-slider
      label="Opacity"
      [initialValue]="initialOpacityValue"
      (valueChange)="changeOpacity($event)"
    ></noah-slider>
  </div>

  <div class="pt-4">
    <noah-hazard-legend
      [selectedColor]="initialColorValue"
      (valueChange)="changeColor($event)"
    ></noah-hazard-legend>
  </div>
</div>
