<div>
  <h2 class="text-gray-900 text-lg mb-1 font-medium title-font uppercase">
    Your location
  </h2>
  <div class="font-bold text-3xl pb-4">{{ currentLocation$ | async }}</div>

  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Critical Facilities
  </h4>

  <button
    class="text-left shadow flex rounded w-full p-3 my-3"
    *ngFor="let facility of criticalFacilities"
    (click)="focus(facility)"
  >
    <span class="w-1/6">
      <img class="h-8 w-8" src="assets/map-sprites/{{ facility.type }}.png" />
    </span>
    <span class="w-5/6 pl-3">
      <div class="text-sm">{{ facility.name }}</div>
      <small class="text-gray-500" *ngIf="facility.distance">
        {{ facility.distance | number: '1.1-2' }} km away</small
      >
    </span>
  </button>

  <!-- Bottom Navigation -->
  <noah-pra-nav
    [currentPageIdx]="4"
    [pageLength]="5"
    prevRoute="../landslide"
  ></noah-pra-nav>
</div>
