<div id="map"></div>
<div
  id="graph-dom"
  hidden
  class="relative overflow-hidden z-0 text-left lh"
  style="
    width: 800px;
    height: 300px;
    line-height: normal;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    user-select: none;
  "
></div>

<div class="top-32 absolute z-10 right-0 pl-2 h-16 w-16 flex flex-row py-4">
  <div class="p-2">
    <div class="dropdown inline-block relative">
      <button
        class="
          bg-white
          text-gray-800
          font-semibold
          py-1
          px-1
          ml-2
          rounded
          inline-flex
          items-center
          hover:bg-gray-200
          focus:outline-none
          focus:ring-2
          focus:ring-gray-600
          focus:ring-opacity-50
        "
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
          />
        </svg>
      </button>
      <ul
        class="
          dropdown-menu
          rounded-lg
          shadow-2xl
          drop-shadow-xl
          bg-white
          right-9
          bottom-0
          absolute
          hidden
          text-sm text-gray-700
        "
      >
        <li class="">
          <a
            class="
              rounded-lg
              block
              px-4
              py-2
              text-sm
              leading-5
              text-gray-700
              transition
              duration-150
              ease-in-out
              hover:bg-gray-100
              focus:outline-none focus:bg-gray-100
            "
            role="button"
            (click)="switchMapStyle('terrain')"
            >Terrain</a
          >
        </li>
        <li class="">
          <a
            class="
              rounded-lg
              block
              px-4
              py-2
              text-sm
              leading-5
              text-gray-700
              transition
              duration-150
              ease-in-out
              hover:bg-gray-100
              focus:outline-none focus:bg-gray-100
            "
            role="button"
            (click)="switchMapStyle('satellite')"
            >Satellite</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- //Customizing Mapbox attribution -->
<div class="mapboxgl-ctrl-bottom-right hidden md:block">
  <div class="mapboxgl-ctrl mapboxgl-ctrl-attrib">
    <button
      class="mapboxgl-ctrl-attrib-button"
      type="button"
      title="Toggle attribution"
      aria-label="Toggle attribution"
    ></button>
    <div class="mapboxgl-ctrl-attrib-inner text-black" role="list">
      <a
        href="https://www.mapbox.com/about/maps/"
        target="_blank"
        title="Mapbox"
        class="mr-1 text-black"
        aria-label="Mapbox"
        role="listitem"
        >© Mapbox</a
      >
      <a
        href="http://www.openstreetmap.org/about/"
        target="_blank"
        title="OpenStreetMap"
        class="mr-1 text-black"
        aria-label="OpenStreetMap"
        role="listitem"
        >© OpenStreetMap</a
      >
      <a
        href="https://doh.gov.ph/"
        target="_blank"
        title="OpenStreetMap"
        aria-label="DOH"
        class="mr-1 text-black"
        role="listitem"
        >© Department of Health</a
      >
      <a
        href="https://www.mapbox.com/map-feedback/"
        target="_blank"
        title="Improve this map"
        class="text-black"
        aria-label="Improve this map"
        role="listitem"
        >Improve this map
      </a>
    </div>
  </div>
</div>
