<div class="top-0 fixed z-50 left-0 h-16 w-auto">
  <a class="flex max-w-xs p-2 items-center" routerLink="/">
    <img
      class="w-20 h-auto"
      src="assets/icons/logo-noah.png"
      alt="Project NOAH"
    />
  </a>
</div>
<div class="w-full h-full min-h-screen bg-gray-100 flex flex-col md:flex-row">
  <button
    (click)="isMenu = !isMenu"
    class="fixed p-2 z-20 bg-white text-gray-800 shadow-2xl drop-shadow-2xl rounded-t-lg h-10 bottom-0 self-center md:hidden"
  >
    <svg
      class="animate-bounce w-6 h-6 text-gray-900"
      fill="none"
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        d="M18.293 16.707L12 10.414l-6.293 6.293a1 1 0 11-1.414-1.414l7-7a1 1 0 011.414 0l7 7a1 1 0 01-1.414 1.414z"
        fill="#000"
        fill-rule="nonzero"
      />
    </svg>

    <span class="sr-only">Open menu</span>
  </button>
  <noah-search
    [searchTerm]="searchTerm"
    (selectPlace)="selectPlace($event)"
    class="fixed p-2 z-20 md:rounded-r-lg rounded-t-lg md:top-4 self-center md:hidden w-2/3"
  ></noah-search>
  <nav
    class="block md:absolute order:last md:right-0 md:inset-y-0 h-96 p-4 w-full md:w-1/4 bottom-0 fixed bg-white flex-none md:min-h-screen z-50 overflow-y-auto shadow-inner"
    *ngIf="isMenu"
    id="sidebar"
  >
    <ng-container *ngIf="isKYHPage$ | async; else hazardTemplate">
      <div (click)="isMenu = !isMenu" class="text-black ml-8 cursor-pointer">
        <button
          class="absolute p-2 z-20 bg-white shadow-lg drop-shadow-2xl rounded-full text-gray-800 right-4 top-4 md:hidden"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6 md:hidden"
            viewBox="0 0 100 125"
          >
            <switch>
              <g>
                <path
                  d="M56.9 78.7L95.4 33c4.9-5.8.8-14.8-6.9-14.8h-77C3.9 18.2-.3 27.1 4.6 33l38.5 45.7c3.6 4.2 10.2 4.2 13.8 0z"
                />
              </g>
            </switch>
          </svg>
        </button>
      </div>

      <noah-search
        [searchTerm]="searchTerm"
        (selectPlace)="selectPlace($event)"
        class="w-full mt-4 hidden md:block relative"
      >
      </noah-search>
      <div>
        <h4 class="text-2xl font-bold leading-tight mt-6 pb-2">
          Hazard Levels In Your Area
        </h4>
        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('flood')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Flood Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (floodRiskLevel$ | async)"
                  >
                    {{ floodRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('landslide')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Landslide Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (landslideRiskLevel$ | async)"
                  >
                    {{ landslideRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('storm-surge')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Storm Surge Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (stormSurgeRiskLevel$ | async)"
                  >
                    {{ stormSurgeRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>
        <p class="m-6">
          These hazard levels are based on our satellite and historical data. If
          you’re in the <b class="text-high">“red”</b> zone of a particular
          hazard, that means you’re highly susceptible to that hazard.
        </p>
        <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
      </div>
    </ng-container>
  </nav>

  <!-- DESKTOP VIEW -->
  <nav
    class="hidden md:block md:absolute order:last md:right-0 md:inset-y-0 h-96 p-4 w-full md:w-1/4 bottom-0 fixed bg-white flex-none md:min-h-screen z-50 overflow-y-auto shadow-2xl"
    *ngIf="isOpen"
  >
    <ng-container *ngIf="isKYHPage$ | async; else hazardTemplate">
      <noah-search
        [searchTerm]="searchTerm"
        (selectPlace)="selectPlace($event)"
        class="w-full mt-4 hidden md:block relative"
      >
      </noah-search>
      <div>
        <h4 class="text-2xl font-bold leading-tight mt-6 pb-2">
          Hazard Levels In Your Area
        </h4>
        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('flood')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Flood Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (floodRiskLevel$ | async)"
                  >
                    {{ floodRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('landslide')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Landslide Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (landslideRiskLevel$ | async)"
                  >
                    {{ landslideRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="flex flex-col p-2 bg-white shadow-md hover:shodow-lg rounded-2xl hover:bg-blue-300"
            (click)="viewHazardLayer('storm-surge')"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-16 h-16 rounded-2xl p-3 border border-blue-100 text-blue-400 bg-blue-50"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Storm Surge Hazard Level
                  </div>
                  <p
                    class="uppercase font-bold text-xl leading-none mt-2"
                    role="button"
                    [ngClass]="'text-' + (stormSurgeRiskLevel$ | async)"
                  >
                    {{ stormSurgeRiskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>
        <p class="m-6">
          These hazard levels are based on our satellite and historical data. If
          you’re in the <b class="text-high">“red”</b> zone of a particular
          hazard, that means you’re highly susceptible to that hazard.
        </p>
        <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
      </div>
    </ng-container>
  </nav>
  <!-- DESKTOP VIEW -->

  <main
    class="block w-full md:w-9/12 md:fixed bg-gray-100 order-1 md:min-h-screen z-10"
  >
    <noah-map-kyh></noah-map-kyh>
  </main>
</div>

<ng-template #hazardTemplate>
  <!-- FLOODING -->
  <noah-flood-kyh *ngIf="isFlood$ | async"></noah-flood-kyh>

  <!-- LANDSLIDE -->
  <noah-landslide-kyh *ngIf="isLandSlide$ | async"></noah-landslide-kyh>

  <!-- STORMSURGE -->
  <noah-storm-surge-kyh *ngIf="isStormSurge$ | async"></noah-storm-surge-kyh>
</ng-template>
