<div class="top-0 fixed z-10 left-0 h-16 w-16">
  <a class="flex max-w-xs p-2 items-center" routerLink="/">
    <img src="assets/icons/noah-logo.jpg" alt="Project NOAH" />
  </a>
</div>

<div class="relative w-full flex flex-wrap min-h-screen">
  <div class="fixed inset-0 w-full md:w-9/12 flex justify-center items-center">
    <noah-search
      [searchTerm]="searchTerm"
      (selectPlace)="selectPlace($event)"
      class="
        md:invisible
        sm:visible
        absolute
        inset-x-0
        top-2
        flex
        items-center
        justify-center
      "
    ></noah-search>
    <noah-map-kyh></noah-map-kyh>
  </div>

  <div class="px-5 py-96 flex w-full md:px-0 md:py-0 static">
    <div
      class="
        lg:w-1/4
        md:w-1/4
        sm:w-full
        min-h-screen
        sm:rounded
        lg:rounded-none
        bg-white
        p-8
        flex flex-col
        md:ml-auto
        relative
        z-10
      "
    >
      <noah-search
        [searchTerm]="searchTerm"
        (selectPlace)="selectPlace($event)"
        class="invisible md:visible"
      >
      </noah-search>
      <h2 class="text-gray-900 text-lg mb-1 font-medium title-font uppercase">
        Your location
      </h2>
      <div class="font-bold text-3xl pb-2">{{ currentLocation$ | async }}</div>
      <hr class="my-2 hidden md:block" />
      <div>
        <h4 class="text-xl font-bold leading-tight mt-8 pb-4">
          Hazard Level In Your Area
        </h4>
        <div class="pt-4">
          <div
            class="
              flex flex-col
              p-2
              bg-white
              shadow-md
              hover:shodow-lg
              rounded-2xl
              hover:bg-blue-300
            "
            (click)="isFlood = true"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="
                    w-16
                    h-16
                    rounded-2xl
                    p-3
                    border border-blue-100
                    text-blue-400
                    bg-blue-50
                  "
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Flood Hazard Level
                  </div>
                  <p
                    class="uppercase text-xl leading-none mt-1"
                    role="button"
                    [ngClass]="'text-' + (floodriskLevel$ | async)"
                  >
                    {{ floodriskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="
              flex flex-col
              p-2
              bg-white
              shadow-md
              hover:shodow-lg
              rounded-2xl
              hover:bg-blue-300
            "
            (click)="islandSlide = true"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="
                    w-16
                    h-16
                    rounded-2xl
                    p-3
                    border border-blue-100
                    text-blue-400
                    bg-blue-50
                  "
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Landslide Hazard Level
                  </div>
                  <p
                    class="uppercase text-xl leading-none mt-1"
                    role="button"
                    [ngClass]="'text-' + (landslideriskLevel$ | async)"
                  >
                    {{ landslideriskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <div class="pt-4">
          <div
            class="
              flex flex-col
              p-2
              bg-white
              shadow-md
              hover:shodow-lg
              rounded-2xl
              hover:bg-blue-300
            "
            (click)="isStorm = true"
            id="menu"
            role="button"
          >
            <div class="flex items-center justify-between">
              <div class="flex items-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="
                    w-16
                    h-16
                    rounded-2xl
                    p-3
                    border border-blue-100
                    text-blue-400
                    bg-blue-50
                  "
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  ></path>
                </svg>
                <div class="flex flex-col ml-3">
                  <div class="font-bold leading-none" role="button">
                    Storm Surge Hazard Level
                  </div>
                  <p
                    class="uppercase text-xl leading-none mt-1"
                    role="button"
                    [ngClass]="'text-' + (stormsurgeriskLevel$ | async)"
                  >
                    {{ stormsurgeriskLevel$ | async }}
                  </p>
                </div>
              </div>
              <p class="text-sm w-4 text-gray-600 leading-none mt-1">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1000 1000">
                  <path
                    d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
                  />
                </svg>
              </p>
            </div>
          </div>
        </div>

        <li class="flex items-start pb-4 mt-4">
          <span class="h-6 flex items-center sm:h-7">
            <svg
              class="flex-shrink-0 h-5 w-5 text-cyan-500"
              viewBox="0 0 20 20"
              fill="currentColor"
            >
              <path
                fill-rule="evenodd"
                d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                clip-rule="evenodd"
              />
            </svg>
          </span>
          <p class="ml-2">
            These hazard levels are based on our satellite and historical data.
            If you’re in the <b class="text-high">“red”</b> zone of a particular
            hazard, that means you’re highly susceptible to that hazard.
          </p>
        </li>
        <hr class="mb-6 border-t" />
        <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
      </div>

      <!-- SIDEBAR START HERE -->
      <!-- FLOODING -->
      <div
        *ngIf="isFlood"
        class="w-screen z-40 fixed top-0 bottom-0 right-0"
        id="mobile-nav"
      >
        <div
          class="bg-black opacity-40 fixed top-0 left-0 right-0 bottom-0"
          (click)="isFlood = false"
        ></div>
        <div class="px-5 py-24 flex w-full md:px-2 md:py-2">
          <div
            class="
              lg:w-1/4
              md:w-1/4
              sm:w-full
              bg-white
              flex flex-col
              md:ml-auto
              relative
              z-10
            "
          >
            <div
              class="
                z-40
                fixed
                top-0
                bg-white
                shadow
                h-full
                flex-col
                justify-between
                overflow-auto
                transition
                duration-150
                ease-in-out
              "
            >
              <div class="px-6 h-full">
                <div class="flex flex-col justify-between h-full w-full">
                  <div>
                    <div class="mt-6 flex w-full items-center justify-between">
                      <div
                        id="cross"
                        class="text-gray-800"
                        (click)="isFlood = false"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-x"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          role="button"
                        >
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                      </div>
                      <div class="h-16 w-full pl-2 flex items-center pb-4 mt-2">
                        <h4 class="text-xl font-bold leading-tight mt-8 pb-4">
                          Know Your Hazard: Flooding
                        </h4>
                      </div>
                    </div>

                    <ul class="f-m-m">
                      <li class="text-gray-800 pt-4">
                        <div class="items-center">
                          <p class="text-black-700">
                            <b>Flooding</b> is the overflow of water from a
                            river or another body of water due to heavy
                            rainfall.
                          </p>
                        </div>
                      </li>

                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          What To Do During Flood
                        </h4>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Your flood hazard level is high. Be prepared to
                              evacuate immediately when there’s an alert for
                              heavy rainfall.
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Don’t walk or drive through moving water. It can
                              sweep you and your car away
                            </p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Refrain from walking through floodwater most
                              especially without wearing protective gear like
                              boots.
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Turn off all electrical appliances and LPG tank;
                              turn off the main power switch as needed.
                            </p>
                          </div>
                        </div>
                      </div>

                      <hr />

                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          Survival Kit
                        </h4>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Water: One gallon per person
                            </p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Food: non:perishable, easy-to-prepare items
                            </p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">Flashlight</p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">First-Aid Kit</p>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- LANDSLIDE -->
      <div
        *ngIf="islandSlide"
        class="w-screen z-40 fixed top-0 bottom-0 right-0"
        id="mobile-nav"
      >
        <div
          class="bg-black opacity-40 fixed top-0 left-0 right-0 bottom-0"
          (click)="islandSlide = false"
        ></div>
        <div class="px-5 sm:py-24 flex w-full md:px-0 md:py-0">
          <div
            class="
              lg:w-1/4
              md:w-1/4
              sm:w-full
              min-h-screen
              sm:rounded
              lg:rounded-none
              bg-white
              flex flex-col
              md:ml-auto
              relative
              z-10
            "
          >
            <div
              class="
                z-40
                fixed
                overflow-y-auto
                top-0
                bg-white
                shadow
                h-full
                flex-col
                justify-between
                overflow-auto
                pb-0
                transition
                duration-150
                ease-in-out
              "
            >
              <div class="px-6 h-full">
                <div class="flex flex-col justify-between h-full w-full">
                  <div>
                    <div class="mt-6 flex w-full items-center justify-between">
                      <div
                        id="cross"
                        class="text-gray-800"
                        (click)="islandSlide = false"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-x"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          role="button"
                        >
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                      </div>
                      <div class="h-16 w-full pl-2 flex items-center pb-4 mt-2">
                        <h4 class="text-xl font-bold leading-tight mt-8 pb-4">
                          Know Your Hazard: Landslides
                        </h4>
                      </div>
                    </div>

                    <ul class="f-m-m">
                      <li class="text-gray-800 pt-4">
                        <div class="items-center">
                          <p class="text-black-700">
                            A <b>landslide</b> is a movement of earth, rock, or
                            debris due to gravity. Landslides can be caused by
                            continous heavy rainfall, strong earthquakes, or
                            human activities.
                          </p>
                        </div>
                      </li>

                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          How To Prepare For Landslides
                        </h4>

                        <div class="max-w-xl w-full p-4 flex flex-ro">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Your landslide hazard level is high. Evacuate
                              immediately when there’s an alert for heavy
                              rainfall or as advised by your local authorities.
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Always have a survival kit ready and accessible.
                              Ideally this is near your exit doors, ready for
                              grabbing when in a rush.
                            </p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Listen for emergency information and alerts
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          Surviving A Landslide
                        </h4>
                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              If caught in landslide debris, continue to move
                              and make noise to alert rescuers.
                            </p>
                          </div>
                        </div>
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          After A Landslide
                        </h4>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Listen to authorities to find out if it is safe to
                              return
                            </p>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- STORMSURGE -->

      <div
        *ngIf="isStorm"
        class="w-screen z-40 fixed top-0 bottom-0 right-0"
        id="mobile-nav"
      >
        <div
          class="bg-black opacity-40 fixed top-0 left-0 right-0 bottom-0"
          (click)="isStorm = false"
        ></div>
        <div class="px-5 sm:py-24 flex w-full md:px-0 md:py-0">
          <div
            class="
              lg:w-1/4
              md:w-1/4
              sm:w-full
              min-h-screen
              sm:rounded
              lg:rounded-none
              bg-white
              flex flex-col
              md:ml-auto
              relative
              z-10
            "
          >
            <div
              class="
                z-40
                fixed
                overflow-y-auto
                top-0
                bg-white
                shadow
                h-full
                flex-col
                justify-between
                overflow-auto
                pb-0
                transition
                duration-150
                ease-in-out
              "
            >
              <div class="px-6 h-full">
                <div class="flex flex-col justify-between h-full w-full">
                  <div>
                    <div class="mt-6 flex w-full items-center justify-between">
                      <div
                        id="cross"
                        class="text-gray-800"
                        (click)="isStorm = false"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-x"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          role="button"
                        >
                          <path stroke="none" d="M0 0h24v24H0z"></path>
                          <line x1="18" y1="6" x2="6" y2="18"></line>
                          <line x1="6" y1="6" x2="18" y2="18"></line>
                        </svg>
                      </div>
                      <div class="h-16 w-full pl-2 flex items-center pb-4 mt-2">
                        <h4 class="text-xl font-bold leading-tight mt-8 pb-4">
                          Know Your Hazard: Storm Surge
                        </h4>
                      </div>
                    </div>

                    <ul class="f-m-m">
                      <li class="text-gray-800 pt-4">
                        <div class="items-center">
                          <p class="text-black-700">
                            A <b>storm surge</b> is a
                            <b>tsunami-like</b> phenomenon of rising water
                            resulting from <b>typhoons (storms)</b>.
                          </p>
                        </div>
                      </li>

                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          How To Prepare For Storm Surges
                        </h4>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Your storm surge hazard level is high. Evacuate
                              immediately and move to a more elevated area when
                              there’s an alert for strong typhoons.
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Listen for emergency information and alerts.
                            </p>
                          </div>
                        </div>

                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="flex-1">
                            <p class="text-black my-1">
                              Listen for emergency information and alerts
                            </p>
                          </div>
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                        </div>
                      </div>
                      <hr />
                      <div class="items-start p-2 pb-2 mt-2">
                        <h4
                          class="text-xl font-bold leading-tight mt-2 pb-2 pl-4"
                        >
                          Surviving A Storm Suges
                        </h4>
                        <div class="max-w-xl w-full p-4 flex flex-row">
                          <div class="px-2 mt-3 md:mt-0 items-center flex">
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              class="
                                w-16
                                h-16
                                rounded-2xl
                                p-3
                                border border-blue-100
                                text-blue-400
                                bg-blue-50
                              "
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke="currentColor"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              ></path>
                            </svg>
                          </div>
                          <div class="flex-1">
                            <p class="text-black my-1">
                              If caught in Storm Surge debris, continue to move
                              and make noise to alert rescuers.
                            </p>
                          </div>
                        </div>
                      </div>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
