<div>
  <h4 class="text-xl font-bold leading-tight my-2 pt-4 pb-2">Survival Kit</h4>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/water.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1 align-middle">
      <p class="text-black my-4">Water: one gallon per person</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/food.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Food: non-perishable, easy-to-prepare items</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/flashlight.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Flashlight</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/first-aid-kit.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">First-Aid Kit</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/medication.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Medications and medical items</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/sanitation.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Sanitation and personal hygiene</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/personal.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-2">
        Copies of personal documents (IDs, proof of address, passports,
        insurance policies, birth certificates)
      </p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/charger.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Cellphone with chargers</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/family.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Family and emergency contact information</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/cash.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Extra cash</p>
    </div>
  </div>
  <div class="py-2 max-w-xl w-full flex flex-row">
    <div class="mr-6 md:mt-0 items-center flex">
      <img
        class="h-auto w-12"
        src="assets/images/survival-kit/blanket.svg"
        alt="flood"
      />
    </div>
    <div class="flex-1">
      <p class="text-black my-4">Emergency blanket(s)</p>
    </div>
  </div>
</div>
