<div
  class="
    flex flex-col
    p-5
    w-full
    bg-sidebar
    shadow-md
    hover:shodow-lg
    rounded-lg
    mt-6
  "
>
  <div
    class="select-none flex items-center justify-between cursor-pointer"
    (click)="toggleExpansion()"
  >
    <div class="flex items-center">
      <label class="inline-flex items-center checkbox">
        <input
          type="checkbox"
          class="checkbox h-5 w-5 text-blue-600"
          [checked]="shown$ | async"
          (click)="toggleShown($event)"
        />
      </label>
      <div class="flex flex-col ml-3">
        <h6 class="text-xl leading-none font-bold">Sensors</h6>
      </div>
    </div>
    <div>
      <button
        class="
          w-6
          h-6
          focus:outline-none
          flex
          items-center
          justify-center
          rounded-full
        "
      >
        <svg
          [class.hidden]="expanded$ | async"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 1000 1000"
          width="18"
          height="12"
        >
          <path
            d="M283.7 10l-58.4 58.4L656 500 225.3 931.6l58.4 58.4 491-490-491-490z"
          />
        </svg>
        <svg
          [class.hidden]="!(expanded$ | async)"
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 18 12"
          fill="none"
        >
          <path
            d="M9.00002 4.73399L2.40001 11.334L0.514683 9.44865L9.00002 0.963319L17.4854 9.44865L15.6 11.334L9.00002 4.73399Z"
            fill="#4A5568"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div [ngClass]="(expanded$ | async) ? ' pt-5 ' : ' hidden '">
    <hr class="pb-2" />

    <noah-sensor-solo
      *ngFor="let sensorType of sensorTypes"
      [sensorType]="sensorType"
    ></noah-sensor-solo>

    <div class="pl-9">
      <p class="text-xs italic mt-2">
        Sensors data are from the stations deployed by DOST-ASTI, together with
        the help of DOST and PAGASA
      </p>
    </div>
  </div>
</div>
