<div id="pra-map"></div>
<div id="geocoder" class="geocoder"></div>

<div class="bottom-0 fixed z-10 left-0 h-16 w-16 flex flex-row py-4">
  <a class="flex max-w-xs p-2 items-center space-x-3">
    <button
      class="bg-white px-4 py-2 text-xs font-semibold tracking-wider text-blue-600 rounded hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
    >
      Mapbox
    </button>
    <button
      class="bg-white px-4 py-2 text-xs font-semibold tracking-wider text-blue-600 rounded hover:bg-blue-200 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
    >
      asdasda
      {{ mylocation }}
    </button>
  </a>
</div>
