<div>
  <h2 class="text-gray-900 text-lg mb-1 font-medium title-font uppercase">
    Your location
  </h2>
  <div class="font-bold text-3xl pb-4">My Location</div>
  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Storm Surge Risk
  </h4>
  <div class="font-bold text-xl text-high leading-tight mt-4 uppercase">
    High
  </div>

  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Storm Surge Safety Tips
  </h4>
  <div class="text-sm mb-10">
    <ol class="text-sm list-decimal list-outside sm:list-inside md:list-inside">
      <li>Stay informed on local news</li>
      <li>
        Prepare at the earliest time your community has been identified as a
        storm surge-prone area.
      </li>
      <ol class="text-sm list-alpha pl-10">
        <li>Identify the safest and quickest way to a high safe ground.</li>
        <li>
          Know the locations of concrete reinforced multi-story buildings
          designated by the local government for evacuation.
        </li>
        <li>
          Make pre-arrangements with family or friends living in higher grounds
          with whom you can temporarily stay with during the storm surge.
        </li>
        <li>
          Prepare to evacuate as soon as your Municipal Disaster Risk Reduction
          Management Council (MDRRMC) or your barangay officials advise you to
          do so.
        </li>
      </ol>
      <li>
        Should you be instructed to evacuate, do not forget to do the following:
      </li>
      <ol class="text-sm list-alpha pl-10">
        <li>Bring your emergency kit.</li>
        <li>Switch off the electrical power supply and gas tank.</li>
      </ol>
    </ol>
  </div>

  <noah-pra-nav
    [currentPageIdx]="3"
    [pageLength]="5"
    nextRoute="../critical-facilities"
    prevRoute="../landslide"
  ></noah-pra-nav>
</div>
