<!-- start footer -->
<footer
  class="
    bg-gray-200
    relative
    text-white
    px-4
    sm:px-8
    lg:px-16
    xl:px-40
    2xl:px-64
    py-24
  "
>
  <div class="flex flex-col md:flex-row">
    <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4">
      <h3 class="font-bold text-black text-2xl uppercase">Project NOAH</h3>
    </div>

    <div class="w-full lg:w-2/6 lg:mx-4 lg:pr-8">
      <h5 class="font-bold text-lg uppercase text-black">Latest Blog Post</h5>

      <form class="flex items-center mt-6">
        <div class="w-full">
          <label
            class="
              block
              uppercase
              tracking-wide
              text-base
              font-bold
              mb-2
              text-black
            "
            for="grid-last-name"
          >
            Assess my Area
          </label>
          <p class="text-black">
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
            nonumy.
          </p>
        </div>
      </form>
    </div>

    <div class="w-full lg:w-1/6 mt-6 lg:mt-0 lg:mx-4 lg:pr-6 text-black">
      <h5 class="uppercase tracking-wider font-semibold text-black">Product</h5>
      <ul class="mt-4">
        <li>
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Product </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Product </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Product </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Product </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="w-full lg:w-1/6 mt-8 lg:mt-0 lg:mx-4 text-black">
      <h5 class="uppercase tracking-wider font-semibold">Company</h5>

      <ul class="mt-4">
        <li>
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Company </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Company </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Company </span>
          </a>
        </li>
        <li class="mt-4">
          <a
            href="#"
            title=""
            class="block flex items-center opacity-75 hover:opacity-100"
          >
            <span class="ml-3"> Company </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!-- end footer -->
