<noah-search
  [searchTerm]="currentLocation$ | async"
  (selectPlace)="selectPlace($event)"
  class="w-full mt-4 block relative"
>
</noah-search>

<!-- KYH -->
<section>
  <header class="text-xl font-bold leading-tight mt-6 pb-2">
    Hazard Levels In Your Area
  </header>

  <!-- BUTTON -->
  <noah-hazard-button class="py-2" hazardType="flood"></noah-hazard-button>
  <noah-hazard-button class="py-2" hazardType="landslide"></noah-hazard-button>
  <noah-hazard-button
    class="py-2"
    hazardType="storm-surge"
  ></noah-hazard-button>
</section>

<!-- NOTES -->

<section class="m-6">
  <p class="font-bold">Hazards shown are:</p>
  <ol>
    <li>1) 100-year rain return for floods;</li>
    <li>2) Shallow and structurally-controlled landslides;</li>
    <li class="mb-2">3) 5-meters for storm surges.</li>
    <li>
      For more information, please go to the
      <a routerLink="/noah-playground" class="text-primary">NOAH Studio.</a>
    </li>
  </ol>

  <p class="mt-2">
    These hazard levels are based on flood simulations as well as satellite and
    historical data.
  </p>
  <p>Click <a class="text-primary">here</a> for the methods used.</p>
  <p class="mt-2 text-xs tracking-wide">
    <span class="font-bold">Disclaimer:</span> Project NOAH is still in beta
    release. There are ongoing developments to stabilize the platform and to
    complete the hazard maps. The UP System, UP Resilience Institute, and UP
    NOAH Center will not be liable for any damages and losses of any party as a
    result of using this beta website, its contents, and functionalities.
  </p>
</section>

<!-- CRITICAL FACILITIES -->
<section>
  <noah-critical-facilities-kyh></noah-critical-facilities-kyh>
</section>
