<noah-search
  [searchTerm]="currentLocation$ | async"
  (selectPlace)="selectPlace($event)"
  class="w-full mt-4 block relative"
>
</noah-search>

<!-- KYH -->
<section>
  <header class="text-xl font-bold leading-tight mt-6 pb-2">
    Hazard Levels In Your Area
  </header>

  <!-- BUTTON -->
  <noah-hazard-button class="py-2" hazardType="flood"></noah-hazard-button>
  <noah-hazard-button class="py-2" hazardType="landslide"></noah-hazard-button>
  <noah-hazard-button
    class="py-2"
    hazardType="storm-surge"
  ></noah-hazard-button>
</section>

<!-- NOTES -->

<!-- CRITICAL FACILITIES -->
