<div class="fixed z-50">
  <!-- SITE NAV -->
  <noah-navigation></noah-navigation>
</div>

<div class="py-32 flex justify-center w-full">
  <div
    class="
      bg-white
      shadow-md
      rounded-lg
      w-full
      max-w-3xl
      px-8
      overflow-x-hidden
      py-2
      mb-4-xl
    "
  >
    <h1 class="text-grey-darkest font-bold">
      International Publication References
    </h1>
    <ul class="mt-4 ml-4 list-decimal p-4 text-justify list-outside">
      <li>
        A.M.F. Lagmay, R.P. Agaton, M.A. Bahala, J.B. Briones, K.M. Cabacaba,
        C.V. Caro, L.L. Dasallas, L.L. Gonzalo, C.N. Ladiero, J.P. Lapidez, M.F.
        Muncal, J.R. Puno, M.C. Ramos, J. Santiago, J.K. Suarez, J.D. Tablazon.
        (2015). Devastating Storm Surges of Typhoon Haiyan. International
        Journal of Disaster Risk Reduction. V. 11 pp. 1-12.
      </li>
      <li>
        A.M.F. Lagmay, G. Bagtasa, I.A. Crisologo, B.A. Racoma and C.P. David.
        (2015). Volcanoes magnify Metro Manila’s southwest monsoon rains and
        lethal floods. Frontiers Earth Science, 2:36 doi:
        10.3389/feart.2014.00036.
      </li>
      <li>
        J. Tablazon, C. V. Caro, A. M. F. Lagmay, J. B. L. Briones, L. Dasallas,
        J. P. Lapidez, J. Santiago, J. K. Suarez, C. Ladiero, L. A. Gonzalo, M.
        T. F. Mungcal, and V. Malano. (2015). Probabilistic storm surge
        inundation maps for Metro Manila based on Philippine public storm
        warning signals. Nat. Hazards Earth Syst. Sci., 15, 557-570, 2015.
        doi:10.5194/nhess-15-557-2015
      </li>

      <li>
        J. P. Lapidez, J. Tablazon, L. Dasallas, L. A. Gonzalo, K. M. Cabacaba,
        M. M. A. Ramos, J. K. Suarez, J. Santiago, A. M. F. Lagmay, and V.
        Malano. (2015). Identification of storm surge vulnerable areas in the
        Philippines through the simulation of Typhoon Haiyan-induced storm surge
        levels over historical storm tracks. Nat. Hazards Earth Syst. Sci. 15,
        1473-1481 doi:10.5194/nhess-15-1473-2015
      </li>

      <li>
        S. M. May, M. Engel, D. Brill, C. Cuadra, A. M. F. Lagmay, J. Santiago,
        J. K. Suarez, M. Reyes, and H. Brückner. (2015). Block and Boulder
        Transport in Easterm Samar (Philippines) during Supertyphoon Haiyan.
        Earth Surf. Dynam., 3, 543-558, 2015. doi: 10.5194/esurf-3-543-2015
      </li>
      <li>
        A.M.F. Lagmay, Norman Kerle.Typhoons: Storm-surge models helped for
        Hagupit. (2015). Nature, Vol. 519, 414. doi:10.1038/519414b
      </li>

      <li>
        M. Ross, J. Santiago and A.M.F. Lagmay. (2015). Integrating and Applying
        Technology in Response to the Super Typhoon Bopha Disaster. Humtech,
        Proceedia Engineering 107, pp 100-109. doi:10.1016/j.proeng.2015.06.063
      </li>

      <li>
        M.L. Rabonza, R.P. Felix, A.M.F Lagmay, R.N. Eco, I.J. Ortiz, ang D.K.
        Aquino. (2016). Shallow landslide susceptibility mapping using
        high-resolution topography for areas devastated by super typhoon Haiyan.
        Landslides, Volume 13, Issue 1 pp 201-210. doi:10.1007/s10346-015-0626-x
      </li>
      <li>
        I. Alejandrino, A.M.F. Lagmay and R.N. Eco (2016) Shallow Landslide
        Hazard Mapping for Davao Oriental, Philippines Using a Deterministic GIS
        Model. In: Communicating Climate Change and Natural Hazard Risk and
        Cultivating Resilience: Case Studies for a Multidisciplinary Approach
        Eds. Yekaterina Y. Kontar. Springer, Berlin Germany.
      </li>
      <li>
        Paul Kenneth Luzon, Kristina Montalbo, Jam Galang, Jasmine May Sabado,
        Carmille Marie Escape, Raquel Felix, and Alfredo Mahar Francisco Lagmay.
        (2016). Hazard mapping related to structurally controlled landslides in
        Southern Leyte, Philippines. Nat. Hazards Earth Syst. Sci., 16, 875-883,
        2016. doi:10.5194/nhess-16-875-2016
      </li>
      <li>
        G. Norini, M.C. Zuluaga, I. Ortiz, D.T. Aquino and A.M.F. Lagmay.
        (2016). Delineation of alluvial fans from Digital Elevation Models with
        a GIS algorithm for the geomorphological mapping of the Earth and Mars.
        Geomorphology Volume 273, No. 15. Pages 134–149.
        doi:10.5194/nhess-16-2683-2016
      </li>
      <li>
        J.C. Victorino, M.R. Estuar and A.M.F. Lagmay. (2016). Validating the
        Voice of the Crowd During Disasters. In book: Xu, K.S., Reitter, D.,
        Lee, D., Osgood, N. (Eds.) Social, Cultural, and Behavioral Modeling,
        (eds) pp. 301-310. DOI: 10.1007/978-3-319-39931-7_29. Springer
        International Publishing, Switzerland.
      </li>

      <li>
        Rodolfo, K. S., Lagmay, A. M. F., Eco, R. C., Herrero, T. M. L.,
        Mendoza, J. E., Minimo, L. G., and Santiago, J. T. (2016). The December
        2012 Mayo River debris flow triggered by Super Typhoon Bopha in
        Mindanao, Philippines: lessons learned and questions raised. Nat.
        Hazards Earth Syst. Sci., 16, 2683-2695, doi:10.5194/nhess-16-2683-2016.
      </li>

      <li>
        Lagmay, A. M. F. A., Mendoza, J., Cipriano, F., Delmendo, P., Lacsamana,
        M., Moises, M., Pellejera, N., Punay, K., Sabio, G., Santos, L.,
        Serrano, J., Tañiza, H., Tingin, N. (2017). Street floods in Metro
        Manila and possible solutions. Journal of Environmental Sciences.
        doi:10.1016/j.jes.2017.03.004.
      </li>

      <li>
        Lagmay, A. M. F. A., Racoma, B., Aracan, K., Alconis-Ayco, J., & Saddi,
        I. (2017). Disseminating near-real-time hazards information and flood
        maps in the Philippines through Web-GIS. Journal of Environmental
        Sciences. doi:10.1016/j.jes.2017.03.014.
      </li>

      <li>
        Estuar, M. R. E., Ilagan, J. O., Victorino, J. N., Lagmay, M.,
        Hechanova, M. R. (2017). The challenge of continuous user participation
        in eBayanihan: Digitizing humanitarian action in a nationwide web mobile
        participatory disaster management system. 2016 3rd International
        Conference on Information and Communication Technologies for Disaster
        Management (ICT-DM). doi:10.1109/ICT-DM.2016.7857215.
      </li>

      <li>
        Lagmay, A. M. F. A. (2017). Nationwide Operational Assessment of Hazards
        (NOAH): A responsive program for disaster risk reduction in the
        Philippines. In Humanitarian Technology Survey Policy Report. S.
        Rajaratnam School of International Studies (RSIS), Nanyang Technological
        University in Singapore.
      </li>

      <li>
        Lagmay, M., & Racoma, B. A. (2019). Lessons from tropical storms Urduja
        and Vinta disasters in the Philippines. Disaster Prevention and
        Management: An International Journal.
      </li>

      <li>
        Lagmay, A. M. F. A., Escape, C., Ybanez, A. A., Suarez, J. K., &
        Cuaresma, G. (2020). Anatomy of the Naga City landslide and comparison
        with historical debris avalanches and analog models. Frontiers in Earth
        Science, 8, 312.
      </li>

      <li>
        Tanaporn Chaivutitorn, Thawalrat Tanasakcharoen, Natt Leelawat, Jing
        Tang, Carl Vincent C. Caro, Alfredo Mahar Lagmay, Anawat Suppasri,
        Jeremy D. Bricker, Volker Roeber, Carine J. Yi, and Fumihiko Imamura
        (2020). Statistical Analysis of Building Damage from the 2013 Super
        Typhoon Haiyan and Its Storm Surge in the Philippines. Journal of
        Disaster Research.
      </li>

      <li>
        Lagmay A.M.F.A., Santiago J., Pulhin J.M. (2021) Mainstreaming CCA-DRVRM
        Using Probabilistic Multi-scenario Hazard Maps for Future Resilience in
        Haiyan-Affected Areas. In: Pulhin J.M., Inoue M., Shaw R. (eds) Climate
        Change, Disaster Risks, and Human Security. Disaster Risk Reduction
        (Methods, Approaches and Practices). Springer, Singapore.
        https://doi.org/10.1007/978-981-15-8852-5_11
      </li>
    </ul>

    <h1 class="text-grey-darkest font-bold mt-6">
      Local publication references
    </h1>
    <ul class="ml-4 mt-4 list-decimal text-justify list-outside">
      <li>
        Lagmay, A.M.F. (2009) Citizen-based interactive flood map. Talk of the
        town, Philippine Daily Inquirer page 14 (full spread).
      </li>

      <li>
        Lagmay, A.M.F.. (2010) Lessons from recent Philippine Disasters. In
        Proceedings of the Leadership for the Next Generation: University of the
        Philippines Academic Congress (full paper). Malcolm Hall, University of
        the Philippines, Diliman, Quezon City, Philippines.
      </li>

      <li>
        Lagmay, A.M.F. (2011) Large areas of Metro Manila Sinking. Talk of the
        Town, Philippine Daily Inquirer.
      </li>

      <li>
        Lagmay, A.M.F. (2012) Learning from Sendong's flood. Talk of the Town,
        Philippine Daily Inquirer.
      </li>

      <li>
        RN Eco, DT Aquino, AMF Lagmay, I Alejandrino, AA Bonus, CM Escape, R
        Felix, PK Ferrer, RC Gacusan, J Galang, F Llanes, PK Luzon, KR Montalbo,
        IJ Ortiz, M Rabonza, V Realino, JM Sabado, JJ Sulapas, H Ariola, J
        Obrique, C Quina, MK Alemania, M Magcamit, S Salvosa, and NL Timbas.
        (2015). Landslide and debris flow susceptibility mapping of Leyte
        Province, Philippines using remote sensing, numerical modelling, and
        GIS. Journal of the Philippine Geoscience and Remote Sensing Society,
        1:1.
      </li>

      <li>
        A.M.F. Lagmay. (2015). The Journal of the PGRSS and its significance in
        Philippine space technology applications. Journal of the Philippine
        Geoscience and Remote Sensing Society, 1:1.
      </li>

      <li>
        A.M.F. Lagmay. Climate Change Adaptation and Disaster Risk Reduction in
        the University Setting. pp. 19-32. In book: Eds. F. Llanes, V. Bautista,
        M.L Francisco, A.M.F. Lagmay, E. Luna, B.M. Pacheco, E.S. Talens.
        (2017). Disaster Risk Reduction and Management , Handbook for Academic
        Institutions: The UP experience. University of the Philippines Press.
      </li>

      <li>
        F. Llanes, V. Bautista, M.L Francisco, A.M.F. Lagmay, E. Luna, B.M.
        Pacheco, E.S. Talens. (2017). Disaster Risk Reduction and Management,
        Handbook for Academic Institutions: The UP Experience. Book. University
        of the Philippines Press.
      </li>

      <li>
        Lagmay, AMF. (2018). An Open Data Law for Climate Resilience and
        Disaster Risk Reduction. Book. Albert Del Rosario Institute for
        Strategic and International Studies.
      </li>

      <li>
        Lagmay, A.M. & Baldago, M. C. (2020)<i>
          A timeline of Mindanao Disasters.</i
        >
        University of the Philippines Press
      </li>
    </ul>
  </div>
</div>
