<div>
  <h2 class="text-gray-900 text-lg mb-1 font-medium title-font uppercase">
    Your location
  </h2>
  <div class="font-bold text-3xl pb-4">My Location</div>
  <h4 class="text-l font-bold leading-tight mt-8 uppercase">Landslide Risk</h4>
  <div
    class="font-bold text-xl leading-tight mt-4 uppercase"
    [ngClass]="'text-' + (riskLevel$ | async)"
  >
    {{ riskLevel$ | async }}
  </div>

  <h4 class="text-l font-bold leading-tight mt-8 uppercase">
    Landslide Safety Tips
  </h4>
  <div class="text-sm mb-10">
    <p class="pb-2 mt-4">WHEN YOU’RE INSIDE A BUILDING...</p>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">DROP - duck or drop on the floor</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">COVER - take cover under a desk or sturdy furniture</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">HOLD - hold onto the sturdy desk</p>
    </li>
    <br />
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Stay AWAY from glass windows, shelves, and other heavy objects
      </p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">Stay ALERT and watch for falling objects</p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Stay PUT until the shaking stops. Once it's safe, calmly proceed to the
        nearest exit.
      </p>
    </li>
    <br />
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        In evacuating, take the stars. DO NOT use the elevator to avoid getting
        trapped in case of power failure.
      </p>
    </li>

    <p class="pb-2 mt-4">WHEN YOU’RE OUTSIDE A BUILDING...</p>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Move to an open area. STAY AWAY from buildings, walls, and power poles
      </p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        Stay AWAY from steep slopes which may be affected by landslides
      </p>
    </li>
    <li class="text-sm flex items-start pb-0 mt-0">
      <span class="h-6 flex items-center sm:h-7">
        <svg
          class="flex-shrink-0 h-3 w-3 text-cyan-500"
          viewBox="0 0 20 20"
          fill="currentColor"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd"
          />
        </svg>
      </span>
      <p class="ml-2">
        If driving, STOP where it's safe and GET OUT. DO NOT cross bridges,
        overpasses or flyovers.
      </p>
    </li>
  </div>

  <noah-pra-nav
    [currentPageIdx]="2"
    [pageLength]="5"
    nextRoute="../storm-surge"
    prevRoute="../flood"
  ></noah-pra-nav>
</div>
