<nav class="w-screen bg-white shadow hidden lg:block">
  <div
    class="max-w-7xl mx-auto flex items-center justify-between mt-0 py-2 px-4"
  >
    <div class="pl-0 flex items-center">
      <div
        class="
          w-full
          container
          mx-auto
          flex flex-wrap
          items-center
          justify-between
          mt-0
          py-2
        "
      >
        <div class="flex items-center">
          <a
            class="
              toggleColour
              no-underline
              hover:no-underline
              font-bold
              text-2xl
              lg:text-4xl
            "
            routerLink="/"
          >
            <div class="flex max-w-xs p-2 items-center">
              <img src="assets/icons/logo-noah.svg" class="z-50 w-20" />
              <div class="text-xs font-bold uppercase tracking-wider p-2 z-50">
                Nationwide Operational Assessment of Hazards
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div
      class="
        w-full
        flex-grow
        lg:flex lg:items-center lg:w-auto
        hidden
        mt-2
        lg:mt-0
        bg-white
        lg:bg-transparent
        justify-end
        p-4
        lg:p-0
        z-20
      "
    >
      <div
        class="
          w-full
          flex-grow
          lg:flex lg:items-center lg:w-auto
          hidden
          mt-2
          lg:mt-0
          bg-white
          lg:bg-transparent
          text-black
          p-4
          lg:p-0
          z-20
        "
        id="nav-content"
      ></div>
      <a
        class="
          text-xs
          uppercase
          font-bold
          bg-white
          rounded-full
          px-10
          py-2
          m-4
          inline-flex
          items-center
          justify-center
          text-gray-800
          focus:outline-none
          lg:mx-0
          tracking-widest
        "
        href="https://noahcenter.up.edu.ph/"
        target="_blank"
      >
        Blog
      </a>
      <a
        class="
          text-xs
          uppercase
          font-bold
          bg-white
          rounded-full
          px-10
          py-2
          m-4
          inline-flex
          items-center
          justify-center
          text-gray-800
          focus:outline-none
          lg:mx-0
          tracking-widest
        "
        href="https://drive.google.com/drive/folders/1ALE4-E9c-4AGjm1fqiPprWHrLUskeY9o"
        target="_blank"
      >
        Downloads
      </a>
      <button
        type="button"
        class="
          text-xs
          uppercase
          font-bold
          bg-white
          rounded-full
          px-10
          py-2
          my-4
          inline-flex
          items-center
          justify-center
          text-gray-800
          focus:outline-none
          mx-auto
          lg:mx-0
          tracking-widest
          hover:bg-gray-100
          focus:ring-opacity-50
          border-gray-600 border-2
        "
        routerLink="noah-playground"
      >
        NOAH Studio
      </button>
    </div>
  </div>
  <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>
<!-- Navbar -->
<nav>
  <div
    class="
      py-4
      px-6
      w-full
      flex
      lg:hidden
      justify-between
      items-center
      bg-white
      fixed
      top-0
      z-40
      shadow
    "
  >
    <div class="pl-0 flex items-center">
      <div
        class="
          w-full
          container
          mx-auto
          flex flex-wrap
          items-center
          justify-between
          mt-0
          py-2
        "
      >
        <div class="flex items-center">
          <a
            class="
              toggleColour
              no-underline
              hover:no-underline
              font-bold
              text-2xl
              lg:text-4xl
            "
            routerLink="/"
          >
            <div class="flex max-w-xs p-2 items-center">
              <img src="assets/icons/logo-noah.svg" class="z-50 w-20" />
              <div
                class="
                  text-xs
                  font-bold
                  uppercase
                  tracking-wider
                  p-2
                  z-50
                  hidden
                  sm:block
                "
              >
                Nationwide Operational Assessment of Hazards
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div>
      <div id="menu" class="text-gray-800" (click)="isMenu = true">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-menu-2"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <line x1="4" y1="6" x2="20" y2="6" />
          <line x1="4" y1="12" x2="20" y2="12" />
          <line x1="4" y1="18" x2="20" y2="18" />
        </svg>
      </div>
    </div>
  </div>
  <!--Mobile responsive sidebar-->
  <div
    *ngIf="isMenu"
    class="w-56 z-40 lg:hidden fixed top-0 bottom-0 right-0"
    id="mobile-nav"
  >
    <div
      class="bg-black opacity-30 lg:hidden fixed top-0 left-0 right-0 bottom-0"
      (click)="isMenu = false"
    ></div>
    <div
      class="
        w-64
        z-40
        fixed
        overflow-y-auto
        top-0
        bg-white
        shadow
        h-full
        flex-col
        justify-between
        xl:hidden
        pb-0
        transition
        duration-150
        ease-in-out
      "
    >
      <div class="px-6 h-full">
        <div class="flex flex-col justify-between h-full w-full">
          <div>
            <div class="mt-6 flex w-full items-center justify-between">
              <div id="cross" class="text-gray-800" (click)="isMenu = false">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-x"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  fill="none"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                >
                  <path stroke="none" d="M0 0h24v24H0z"></path>
                  <line x1="18" y1="6" x2="6" y2="18"></line>
                  <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
              </div>
              <div class="flex items-center justify-between w-full">
                <div class="pl-0 flex items-center">
                  <div
                    class="
                      w-full
                      container
                      mx-auto
                      flex flex-wrap
                      items-center
                      justify-between
                      mt-0
                      py-2
                    "
                  >
                    <div class="flex items-center">
                      <a
                        class="
                          toggleColour
                          no-underline
                          hover:no-underline
                          font-bold
                          text-2xl
                          lg:text-4xl
                        "
                        routerLink="/"
                      >
                        <div class="flex max-w-xs p-2 items-center">
                          <img
                            src="assets/icons/logo-noah.svg"
                            class="z-50 w-32"
                          />
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <ul class="f-m-m">
              <button
                type="button"
                class="
                  mt-4
                  text-xs
                  uppercase
                  font-bold
                  bg-white
                  rounded-full
                  px-10
                  py-2
                  m-4
                  inline-flex
                  items-center
                  justify-center
                  text-gray-800
                  focus:outline-none
                  lg:mx-0
                  tracking-widest
                  border-gray-600 border
                "
                routerLink="noah-playground"
              >
                NOAH Studio
              </button>
              <a
                class="
                  mt-4
                  text-xs
                  uppercase
                  font-bold
                  bg-white
                  rounded-full
                  px-10
                  py-2
                  m-4
                  inline-flex
                  items-center
                  justify-center
                  text-gray-800
                  focus:outline-none
                  lg:mx-0
                  tracking-widest
                "
                href="https://drive.google.com/drive/folders/1ALE4-E9c-4AGjm1fqiPprWHrLUskeY9o"
                target="_blank"
              >
                Downloads
              </a>
              <a
                class="
                  text-xs
                  uppercase
                  font-bold
                  bg-white
                  rounded-full
                  px-10
                  py-2
                  m-4
                  inline-flex
                  items-center
                  justify-center
                  text-gray-800
                  focus:outline-none
                  lg:mx-0
                  tracking-widest
                "
                href="https://noahcenter.up.edu.ph/"
                target="_blank"
              >
                Blog
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Sidebar ends -->
